<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--
        <add key="InputSourceCode" value="Main.cs"/>
        <add key="InputStartupClass" value="MainClass"/>
        -->
        <add key="InputSourceCode" value="Main.cs"/>
        <add key="InputStartupClass" value="MainClass"/>
        <add key="InputStartupMethod" value="startup"/>
        <add key="AssemblyRefs" value="mscorlib.dll,System.dll,System.Core.dll,System.Drawing.dll,System.Windows.Forms.dll,System.Data.dll,System.Xml.dll,Microsoft.CSharp.dll"/>
        <add key="AssemblyRefs20" value="mscorlib.dll,System.dll,System.Drawing.dll,System.Windows.Forms.dll,System.Data.dll,System.Xml.dll"/>
    </appSettings>
</configuration>